@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:linen;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin: 0;
} 

.notes{
    background-color: white;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.notes .tools{
    background-color: darkseagreen;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.notes .tools button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.notes .main {
    display: none;
    height: 100%;
    width: 100%;
}

.notes textarea{
    outline: none;
    font-family: inherit;
    border: none;
    height: 100%;
    width: 100%;
}

.notes .hidden { 
    
    display: none;
}